<link rel="stylesheet" type="text/css" href="/css/login.css" media="screen" />
<p id="notice"><%= notice %></p>

<h1>Lista de Viajes Disponibles</h1>

<table id="tablaViajes">
  <thead>
    <tr>
      <th>User</th>
      <th>Teléfono</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Precio</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Asientos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travels.each do |travel| %>
      <tr>
        <td><%= travel.user.email %></td>
        <td><%= travel.user.cel %></td>
        <td><%= travel.origen %></td>
        <td><%= travel.destino %></td>
        <td><%= travel.precio %></td>
        <td><%= travel.fecha %></td>
        <td><%= travel.hora.strftime("%H:%M") %></td>
        <td><%= travel.asientos %></td>
        <td><%= link_to 'Show', travel %></td>
        <td><button onclick="document.getElementById('<%= travel.id %>').style.display='block'" style="width:100px;">Editar</button></td>
        <td data-iduser="<%= travel.user.id %>"><%= link_to 'Eliminar', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% @travels.each do |travel| %>
<!-- The Modal -->
<div id="<%= travel.id %>" class="modal">
  <span onclick="document.getElementById('<%= travel.id %>').style.display='none'"
  class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <img src="/man.png" alt="Avatar" class="avatar">
    </div>

    <div class="container2">
      <label><b>Email</b></label>
      <input type="text" id="email<%= travel.id %>" placeholder="Ingresa tu email" name="uname" required>

      <label><b>Contraseña</b></label>
      <input type="password" id="password<%= travel.id %>" placeholder="Ingresa tu contraseña" name="psw" required>

      <button type="button" onclick="verificar<%= travel.id %>()">Ingresar</button>
      <input type="checkbox" checked="checked"> Recordarme
    </div>

    <div class="container2" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('<%= travel.id %>').style.display='none'" class="cancelbtn">Cancelar</button>
      <span class="psw">Olvidaste tu <a href="#">contraseña?</a></span>
    </div>
  </form>
</div>

<script>
function verificar<%= travel.id %>() {
  var email = document.getElementById("email<%= travel.id %>").value;
  var password = document.getElementById("password<%= travel.id %>").value;
  var emailGet = "<%= travel.user.email %>"
  var passwordGet = "<%= travel.user.password %>"
  if (email == emailGet && password == passwordGet) {
    window.location.replace("<%= edit_travel_path(travel) %>");
  } else {
    alert("Usuario y/o contraseña incorrectos");
  }
}



var modal = document.getElementById("<%= travel.id %>");

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}



</script>

<% end %>
<script>

$(function () {
  $("#tablaViajes").on("click","a[data-method='delete']",function (event) {
    event.preventDefault();

    var id = getCookie("userid");

    if ($(this).parent().attr("data-iduser") != id) {
      alert("No puedes editar un viaje que no es tuyo");
      return false;
    }
  })
});

</script>
<%= link_to 'New Travel', new_travel_path %>
