<link rel="stylesheet" type="text/css" href="/css/login.css" media="screen" />
<p id="notice"><%= notice %></p>

<h1>Lista de Viajes Disponibles</h1>

<table id="tablaViajes">
  <thead>
    <tr>
      <th>User</th>
      <th>Teléfono</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Precio</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Asientos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travels.each do |travel| %>
      <tr>
        <td><%= travel.user.email %></td>
        <td><%= travel.user.cel %></td>
        <td><%= travel.origen %></td>
        <td><%= travel.destino %></td>
        <td><%= travel.precio %></td>
        <td><%= travel.fecha %></td>
        <td><%= travel.hora.strftime("%H:%M") %></td>
        <td><%= travel.asientos %></td>
        <td><%= link_to 'Show', travel %></td>
        <td><button onclick="verificarEdicion('<%= travel.user.id %>','<%= travel.id %>')" style="width:100px;">Editar</button></td>
        <td data-iduser="<%= travel.user.id %>"><%= link_to 'Eliminar', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
function verificarEdicion(userid, travelid) {
  getUserId = getCookie("userid");
  if (userid == getUserId) {
    window.location.replace("http://localhost:3000/travels/" + travelid + "/edit");
  } else {
    alert("No puedes editar un viaje que no es tuyo")
  }

}

$(function () {
  $("#tablaViajes").on("click","a[data-method='delete']",function (event) {
    event.preventDefault();

    var id = getCookie("userid");

    if ($(this).parent().attr("data-iduser") != id) {
      alert("No puedes eliminar un viaje que no es tuyo");
      return false;
    }
  })
});
</script>

<%= link_to 'New Travel', new_travel_path %>
