<div style="padding: 0px 200px;">
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @travel.user.email %>
</p>

<p>
  <strong>Origen:</strong>
  <%= @travel.origen %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @travel.destino %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @travel.precio %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @travel.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @travel.hora.strftime("%H:%M") %>
</p>

<p>
  <strong>Asientos:</strong>
  <%= @travel.asientos %>
</p>

</div>
<div style="padding: 0px 230px;">
  <%= link_to 'Back', travels_path %>
</div>
