<!DOCTYPE html>
<html>
  <head>
    <title>ULPool</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <header>
      <nav class="be-red white large-padding font">
        <ul class="no-list row center-xs middle-xs">
          <li class="col-md">
            <h1 class="no-margin" id="logo">ULPooL</h1>
          </li>
          <li class="col-md">
            <%= link_to 'Inicio', root_path %>
          </li>
          <li class="col-md" onclick="window.location.href='/travels'">
            Lista de Viajes
          </li>
          <li class="col-md" onclick="verificarAdmin()">
            Usuarios Registrados
          </li>
          <li class="col-md">
            Acerca de
          </li>
          <li class="col-md" onclick="logout()">
            Logout
          </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <script>
      function logout() {
        document.cookie = 'userid=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        window.location.replace("http://localhost:3000");
      }
      function verificarAdmin() {
        var userid = getCookie("userid")
        if (userid == 2) {
          window.location.href='/users'
        } else {
          alert("Logueate con un usuario admin para ingresar")
        }
      }
    </script>
  </body>
</html>
